# Ignore the temporary files emacs makes in the root directory
*~

# Ignore temporary files for USB board schematics
implement/boards/usb/schematics/*~

# Ignore temporary files for Butterfly board schematics
implement/boards/butterfly/schematics/*~

# Ignore backup files for drawings
implement/drawings/*.bak