# Ignore the temporary files emacs makes in the root directory
*~

# Ignore temporary and backup files for USB board schematics
implement/boards/usb/reva/schematics/*~
implement/boards/usb/reva/schematics/#*

# Ignore temporary files for Butterfly board schematics
implement/boards/butterfly/reva/schematics/*~

# Ignore backup files for drawings
implement/drawings/*.bak
